* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* Font Size */
  --fs-body: 1.6rem;
  --fs-minutes: 12.6rem;

  /* Font Family */
  --ff-body: 'Roboto';

  /* Colors */
  --hue: 240;
  --c-texts: hsl(var(--hue), 6%, 21%);
  --c-buttons: hsl(var(--hue), 6%, 21%);
  --c-music-playing: hsl(var(--hue), 0%, 100%);

  /* Backgrounds */
  --bg-buttons: white;
  --bg-music: hsl(var(--hue), 9%, 89%);
  --bg-music-playing: hsl(194, 97%, 31%);
  --bg-slider: hsl(var(--hue), 6%, 21%);
}

body {
  font-size: var(--fs-body);

  display: grid;
  min-height: 100vh;;
}

main {
  display: flex;
  gap: 19.2rem;

  justify-self: center;
  align-self: center;
}

.display {
  display: flex;
  row-gap: 4.8rem;
  flex-direction: column;
  justify-content: center;
}

.timer {
  font-size: var(--fs-minutes);
  font-family: var(--ff-body);

  color: var(--c-texts);

  display: flex;
}

.controls {
  display: flex;
  gap: 4rem;
}

.controls button:disabled {
  opacity: 0.5;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
  transition: all .3s;
}

button:hover {
  transform: scale(1.1);
}

.sounds {
  display: grid;
  grid-template-areas:
  "a b"
  "c d";
  gap: 3.2rem;
}

.card {
  background-color: var(--bg-music);

  width: 13.8rem;
  height: 15.2rem;
  border-radius: 2.4rem;

  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
}

.slider {
  background-color: #323238;
  width: 9rem;
  height: 4px;

  border-radius: 8px;
  outline: none;
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  background-color: var(--bg-slider);

  width: 16px;
  height: 16px;
  border-radius: 50%;

  cursor: ew-resize;
  -webkit-appearance: none;
}

.sounds svg {
  margin: 2.4rem 4.6rem 3.2rem;
}

.sounds svg path:nth-child(1) {
  fill: var(--c-texts);
}

.sounds .playing path:nth-child(1) {
  fill: var(--bg-music-playing);
}

.playing .card  {
  background-color: var(--bg-music-playing);
}

.sounds .playing path:nth-child(1) {
  fill: white;
}

.playing .slider {
  background-color: white;
}

.playing input[type='range']::-webkit-slider-thumb {
  background-color: white;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .card {
  background-color: #29292e;
}

.dark-mode .slider {
  background-color: white;
}

.dark-mode input[type='range']::-webkit-slider-thumb {
  background-color: white;
}

.dark-mode .playing .card {
  background-color: #0A3442;
}

.dark-mode svg path:nth-child(1) {
  fill: #C4C4CC;
}

.dark-mode .sounds .playing path:nth-child(1) {
  fill: white;
}

.switch-mode {
  position: absolute;
  left: 90%;
  top: 9%;
}

.hide {
  display: none;
}

@media (max-width: 1400px) {
  main {
    display: inline;
  }

  .display {
    display: block;
    margin-bottom: 10rem;
  }

  .timer {
    display: inline;
  }

  .controls {
    justify-content: space-between;
  }
}
